/*Global -----------------------------*/
body {
    background: radial-gradient(#ad0d0d 10.35%, #ff0404 78.77%);
    color: #fff;
}

i {
    font-size: 1.3em;
}

main {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

/*--------------------------------------------*/
.container-password {
    width: 500px;
    margin: 0 auto;
    display: none;
    transition: 0.8s;
}

.container-password.active {
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
}

.password-area {
    margin-top: -100px;
}

.password {
    margin: 20px 0 30px;
    display: flex;
    justify-content: center;
}

.password div {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
}

#password {
    background: rgba(0, 0, 0, 0);
    border: 0 none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 100;
    text-align: center;
}

#password:focus {
    border: 0 none;
    outline: none;
    caret-color: #fff;
}

#password::placeholder {
    color: #fff;
    font-size: 0.85em;
}

#password:focus::placeholder {
    opacity: 0;
}

#exibir {
    cursor: pointer;
}

.button-submit {
    display: flex;
    justify-content: center;
}

.button-submit button {
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 0.9em;
    transition: 0.3s ease; 
}

.button-submit button:hover {
    background: #fff;
    color: red;
}

.error {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

/* ---------------------------------- */
.container-textinho {
    margin: 0 auto;
    padding: 0 15px;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    left: -9999999px;
    transform: scale(0.9, 0.9);
}

.container-textinho.active {
    position: static;
    transform: scale(1, 1);
    opacity: 1;
}

.card-texto {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 600px;
    padding: 15px 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.card-texto p {
    color: #fff;
    margin-bottom: 12px;
}

.card-texto div {
    margin-top: 30px;
    font-size: 0.9em;
}


/* -------------------------------- */
.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.footer p {
    color: #fff;
    opacity: 0.8;
}
